* {
    font-family: "Nunito", sans-serif;
}

.wrapper {
    display: grid;
    width: 100%;
    max-width: 1000px;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
    grid-template-columns: minmax(150px, auto) 1fr;
    margin: 0 auto;
    padding: 0;
    background-color: #f4f6f9;
    height: 100vh;
    align-content: center;
    padding: 0px 25px;
}

header {
    grid-area: header;
    text-align: center;
    padding: 25px;
}

main {
    grid-area: main;
    width: 100%;
    /* padding: 35px; */
}

aside {
    grid-area: sidebar;
    padding-top: 10px;
}

aside > nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

footer {
    grid-area: footer;
    padding: 25px;
    display: flex;
    justify-content: center;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.article {
    gap: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #dee2e6;
    border-bottom-width: 0;
    padding: 15px 0px;
    background-color: #fff;
}

.article_info > time,
.article_info > p {
    margin-top: 8px;
    display: block;
}

.article:last-child {
    border-bottom-width: 2px;
}

.article_image {
    border-radius: 50%;
    margin-left: 8px;
}

.form__button {
    text-align: center;
    border-radius: 8px;
    padding: 7px 12px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    background: #ededed;
    color: black;
    margin-right: 8px;
}

.form__button.error {
    background: #de1515;
    color: white;
}

.form__button.primary {
    background: #007bff;
    color: white;
    padding: 7px 32px;
}

.container {
    margin-top: 15px;
}

.article_title {
    font-size: large;
    color: #007bff;
}

.main_menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 25px;
}

.main_menu > a {
    border-bottom: 2px solid rgba(0,0,0,.125);
    width: 90%;
}

