* {
    font-family: "Nunito", sans-serif;
}
body {
    background-color: #E5E5E5;
    margin: 0 0 80px;
}

html {
    position: relative;
    min-height: 100%;
}

.wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    min-height: 60vh;
    align-content: center;
    padding: 0px 25px;
}

header {
    grid-area: header;
    text-align: center;
    padding: 25px;
}

main {
    grid-area: main;
    width: 100%;
    /* padding: 35px; */
}

footer {
    padding: 25px;
    display: flex;
    justify-content: center;
    background-color: cadetblue;
    padding: 22px 0px;
    position:absolute;
    bottom:0;
    width: 100%;
    overflow:hidden;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.article {
    gap: 20px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #dee2e6;
    border-bottom-width: 0;
    padding: 15px 0px;
    background-color: #fff;
}

.buttonsForm {
    justify-self: flex-end;
}

.article_info > time,
.article_info > p {
    margin-top: 8px;
    display: block;
}

.article_info > time{
    font-weight: 900;
}

.article:last-child {
    border-bottom-width: 2px;
}

.article_image {
    border-radius: 50%;
    margin-left: 8px;
    width: 100px;
    height: 100px;
}

.page-item.active > span {
    font-weight: 900;
    color: #007bff;
    text-decoration: underline;
}

.form__button {
    text-align: center;
    border-radius: 8px;
    padding: 7px 12px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    background: #ededed;
    color: black;
    margin-right: 8px;
}

.form__button.error {
    background: #de1515;
    color: white;
}

.form__button.primary {
    background: #007bff;
    color: white;
    padding: 7px 32px;
}

.container {
    margin-top: 15px;
}

.article_title {
    font-size: large;
    color: #007bff;
}

.main_menu {
    display: flex;
    gap: 30px;
    justify-content: center;
    background-color: cadetblue;
    padding: 22px 0px;
}

.main_menu > a {
    color: white;
}

.category {
    display: inline-block;
    text-transform: uppercase;
    background-color: blueviolet;
    font-weight: 900;
    font-size: 0.7rem;
    border-radius: 8px;
    color: #fff;
    padding: 3px 10px;
}

.article_title {
    display: flex;
    gap:20px;
}
